/* Remove a margem padrão do corpo da página para permitir controle total sobre o layout */
body {
  margin: 0;

  /* Define uma pilha de fontes priorizando fontes do sistema operacional para melhor desempenho e aparência nativa */
  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica,
               Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;

  /* Suaviza a renderização de fontes no WebKit (Chrome, Safari) */
  -webkit-font-smoothing: antialiased;

  /* Suaviza a renderização de fontes no Firefox (sistema operacional macOS) */
  -moz-osx-font-smoothing: grayscale;
}

/* Define uma fonte monoespaçada para blocos de código */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
